[Unit]
Description=FurCast Telegram Bot

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/bots/furcast-tg-bot
ExecStart=/home/bots/furcast-tg-bot/venv/bin/furcastbot

[Install]
WantedBy=default.target
