#!/bin/ksh

daemon_user=bots
daemon_home=$(eval echo ~$daemon_user)
daemon_execdir=${daemon_home}/furcast-tg-bot
daemon="${daemon_home}/venv/bin/python"

daemon_flags="furcastbot/furcastbot.py"
daemon_log=/var/log/furcast-bot.log

. /etc/rc.d/rc.subr

rc_bg=YES

rc_reload=NO

rc_start() {
	rc_exec "${pexp} >$daemon_log 2>&1 & "
}

rc_cmd $1
