# Duplicated from setup.cfg because GCP doesn't speak setup.cfg
python-dateutil >=2.8.2,<3
python-telegram-bot >=13.11,<14
requests >=2.27.1,<3
Flask >=2.0.3,<3
ddate >=0.1.2,<1
python-dotenv >=0.19.2,<1
ujson >=5.1.0,<6
